{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@pikaron_nodeaemails/css/admin_forms.css' %}

<a name="maincontent"></a>

<div class="head-panel">
	<div class="head-title"><i class="icon fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;{{ lang('ACP_NO_DEA_EMAILS') }}</div>
	<div class="head-description">{{ lang('ACP_NO_DEA_EMAILS_EXPLAIN') }}</div>
	<p><img src="https://img.shields.io/badge/{{ lang('L_NO_DEA_EMAILS_VERSION') }}-{{ S_NO_DEA_EMAILS_VERSION }}-green.svg?style=plastic"></p>
</div>

<div class="successbox successboxdea">{{ lang('ACP_NO_DEA_EMAILS_WARNING_USERS') }}</div>

<form id="acp_dea_users" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend><i class="icon fa-cog fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ lang('L_NO_DEA_EMAILS_USERS') }}</legend>

		<dl>
			<dt><label>{{ lang('L_NO_DEA_EMAILS_TOT_USERS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('L_NO_DEA_EMAILS_TOT_USERS_EXPLAIN') }}</span></dt>
			<dd>
				<div class="textbox2">{{ S_NO_DEA_EMAILS_TOT_USERS }}</div>
			</dd>
		</dl>

		<dl>
			<dt><label>{{ lang('L_NO_DEA_EMAILS_DEA_USERS') }}{{ lang('COLON') }}</label></dt>
			<dd>
				<div class="textbox2">{{ S_NO_DEA_EMAILS_DEA_USERS }}</div>
			</dd>
		</dl>

		<dl>
			<dt><label for="delete_type">{{ lang('L_NO_DEA_EMAILS_DEL_USERS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('L_NO_DEA_EMAILS_DEL_USERS_EXPLAIN') }}</span></dt>
			<dd>
				<select id="delete_type" name="delete_type">
					<option class="sep" value="">{{ lang('SELECT_OPTION') }}</option>
					<option value="sendpm">{{ lang('L_NO_DEA_EMAILS_SEND_PM') }}</option>
					<option value="retain">{{ lang('L_NO_DEA_EMAILS_RETAIN_POSTS') }}</option>
					<option value="remove">{{ lang('L_NO_DEA_EMAILS_REMOVE_POSTS') }}</option>
				</select>
			</dd>
		</dl>

	</fieldset>

	<table class="table" style="padding: 5px;">
		<thead>
			<tr>
				<th>{{ lang('L_NO_DEA_EMAILS_NAME_USER') }}</th>
				<th>{{ lang('L_NO_DEA_EMAILS_EMAIL') }}</th>
				<th>{{ lang('L_NO_DEA_EMAILS_JOINED') }}</th>
				<th>{{ lang('L_NO_DEA_EMAILS_LAST_ACTIVE') }}</th>
				<th class="death">{{ lang('L_NO_DEA_EMAILS_POST') }}</th>
				<th class="death">{{ lang('L_NO_DEA_EMAILS_MARK') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for userse in usersex %}
			{% if loop.index is divisible by(2) %}<tr class="table-row2">{% else %}<tr class="table-row1">{% endif %}
				<td>{{ userse.S_NO_DEA_EMAILS_USER }}</td>
				<td>{{ userse.S_NO_DEA_EMAILS_EMAIL }}</td>
				<td>{{ userse.S_NO_DEA_EMAILS_REGISTER }}</td>
				<td>{{ userse.S_NO_DEA_EMAILS_LAST }}</td>
				<td>{{ userse.S_NO_DEA_EMAILS_POST }}</td>
				<td class="deatd"><input type="checkbox" class="radio" name="delete[]" value="{{ userse.S_NO_DEA_EMAILS_ATTACH_ID }}" /></td>
			</tr>
		{% endfor %}
		<tr class="row4">
			<td colspan="3">&nbsp;</td>
			<td colspan="3" class="small deatdri"><a href="#" onclick="marklist('acp_dea_users', 'delete', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('acp_dea_users', 'delete', false); return false;">{{ lang('UNMARK_ALL') }}</a></td>
		</tr>
		</tbody>
	</table>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_DELETE') }}</legend>
		<p class="submit-buttons">
			<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>
{% INCLUDE 'overall_footer.html' %}
